/**#widget_links_1475201851**/
#widget_links_1475201851 {
	background-color:rgba(0,0,0,1);
	background-repeat:repeat;
	background-position:0% 0%;
	top:0px;
	left:0px;
	width:621.5px;
	height:276px;
	position:relative;
	font-weight:bold;
	font-style:italic;
	text-align:left;
	text-transform:none;
	text-decoration:none solid rgb(34, 34, 34);
	letter-spacing:normal;
	word-spacing:0px;
	line-height:normal;
	box-shadow:0px  0px  0px  0px  ;
}
/**#widget_links_1475201851**/
/**#header_widgetColumn_4b5ba8067e71**/
#header_widgetColumn_4b5ba8067e71 {
	background-color:rgba(0,0,0,1);
	background-repeat:repeat;
	background-position:0% 0%;
	top:auto;
	left:auto;
	width:103.578px;
	height:312.797px;
	position:static;
	font-weight:bold;
	font-style:italic;
	text-align:left;
	text-transform:none;
	text-decoration:none solid rgb(34, 34, 34);
	letter-spacing:normal;
	word-spacing:0px;
	line-height:16.64px;
	box-shadow:0px  0px  0px  0px  ;
}
/**#header_widgetColumn_4b5ba8067e71**/
/**#widget_login_form_1379951954**/
#widget_login_form_1379951954 {
	background-color:rgba(0, 0, 0, 0);
	background-repeat:repeat;
	background-position:0% 0%;
	top:0px;
	left:0px;
	width:621.5px;
	height:281.375px;
	position:relative;
	font-weight:bold;
	font-style:italic;
	text-align:left;
	text-transform:none;
	text-decoration:none solid rgb(34, 34, 34);
	letter-spacing:normal;
	word-spacing:0px;
	line-height:normal;
	box-shadow:0px  0px  0px  0px  ;
}
/**#widget_login_form_1379951954**/
/**#header_widgetColumn_a91cda9d0a7e**/
#header_widgetColumn_a91cda9d0a7e {
	background-image: url(https://www.necoyoad.com/web/);
	background-color:rgba(0, 0, 0, 0);
	background-repeat:repeat;
	background-position:0% 0%;
	top:auto;
	left:auto;
	width:103.578px;
	height:675.172px;
	position:static;
	font-weight:bold;
	font-style:italic;
	text-align:left;
	text-transform:none;
	text-decoration:none solid rgb(34, 34, 34);
	letter-spacing:normal;
	word-spacing:0px;
	line-height:16.64px;
	box-shadow:0px  0px  0px  0px  ;
}
/**#header_widgetColumn_a91cda9d0a7e**/
/**#main_widgetColumn_3680b8de873d**/
#main_widgetColumn_3680b8de873d {
	background-color:rgba(0, 0, 0, 0);
	background-repeat:repeat;
	background-position:0% 0%;
	top:auto;
	left:auto;
	width:1120.69px;
	height:54.7969px;
	position:static;
	font-weight:bold;
	font-style:italic;
	text-align:left;
	text-transform:none;
	text-decoration:none solid rgb(34, 34, 34);
	letter-spacing:normal;
	word-spacing:0px;
	line-height:16.64px;
	box-shadow:0px  0px  0px  0px  ;
}
/**#main_widgetColumn_3680b8de873d**/
/**#copyright**/
#copyright {
	background-color:rgba(0, 0, 0, 0);
	background-repeat:repeat;
	background-position:0% 0%;
	top:auto;
	left:auto;
	width:1263px;
	height:60px;
	position:static;
	color:#ac0aff;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	font-style:italic;
	font-size:48px;
	text-align:center;
	text-transform:none;
	text-decoration:none solid rgb(34, 34, 34);
	letter-spacing:normal;
	word-spacing:0px;
	line-height:106.64px;
	box-shadow:0px  0px  0px  0px  ;
	border-color:#ff7c24;
	border-style:dashed;
	border-width:8px;
}
/**#copyright**/
/**#widget_links_1058286575**/
#widget_links_1058286575 {
	background-color:rgba(0, 0, 0, 0);
	background-repeat:repeat;
	background-position:0% 0%;
	top:0px;
	left:0px;
	width:103.578px;
	height:45px;
	position:relative;
	font-weight:bold;
	font-style:italic;
	text-align:left;
	text-transform:none;
	text-decoration:none solid rgb(34, 34, 34);
	letter-spacing:normal;
	word-spacing:0px;
	line-height:normal;
	box-shadow:0px  0px  0px  0px  ;
}
/**#widget_links_1058286575**/
/**#widget_category_list_144950161**/
#widget_category_list_144950161 {
	background-color:rgba(233,32,238,1);
	background-repeat:repeat;
	background-position:0% 0%;
	top:0px;
	left:0px;
	width:1120.69px;
	height:865px;
	position:relative;
	font-weight:bold;
	font-style:italic;
	text-align:left;
	text-transform:none;
	text-decoration:none solid rgb(34, 34, 34);
	letter-spacing:normal;
	word-spacing:0px;
	line-height:normal;
	box-shadow:0px  0px  0px  0px  ;
}
/**#widget_category_list_144950161**/
/**#widget_links_1475201851 li**/
#widget_links_1475201851 li {
	background-color:rgba(181,47,188,1);
	background-repeat:repeat;
	background-position:0% 0%;
	top:0px;
	left:0px;
	width:198.438px;
	height:46px;
	position:relative;
	font-weight:bold;
	font-style:italic;
	text-align:left;
	text-transform:none;
	text-decoration:none solid rgb(34, 34, 34);
	letter-spacing:normal;
	word-spacing:0px;
	line-height:12.8px;
	box-shadow:0px  0px  0px  0px  ;
}
/**#widget_links_1475201851 li**/
/**#widget_links_1475201851Content**/
#widget_links_1475201851Content {
	background-color:rgb(52, 111, 197);
	background-repeat:repeat;
	background-position:0% 0%;
	top:0px;
	left:0px;
	width:621.5px;
	height:276px;
	position:relative;
	font-weight:bold;
	font-style:italic;
	text-align:left;
	text-transform:none;
	text-decoration:none solid rgb(34, 34, 34);
	letter-spacing:normal;
	word-spacing:0px;
	line-height:12.8px;
	box-shadow:0px  0px  0px  0px  ;
}
/**#widget_links_1475201851Content**/
/**#widget_links_1475201851Content li**/
#widget_links_1475201851Content li {
	background-image: url(https://www.necoyoad.com/web/);
	background-color:transparent;
	background-repeat:repeat;
	background-position:0% 0%;
	top:0px;
	left:0px;
	width:198.438px;
	height:46px;
	position:relative;
	font-weight:bold;
	font-style:italic;
	text-align:left;
	text-transform:none;
	text-decoration:none solid rgb(34, 34, 34);
	letter-spacing:normal;
	word-spacing:0px;
	line-height:12.8px;
	box-shadow:0px  0px  0px  0px  ;
}
/**#widget_links_1475201851Content li**/
