html,
body {
    background:#f9f9f9;
    color: #222;
}
a {
    color: #cb2128;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222222;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.subheader {
    color: #6f6f6f;
}

hr {
    border-color: #DDD;
}

#mainContainer {
    background:#f9f9f9;
}
#header_widgetRow_ba963f7b350c {
    background:#fff;
}
#header_widgetRow_ba963f7b350c.sticky {
    background:#f3f3f3;
    height:45px !important;
}
#columnCenter {
    background:#fff;
}