.banner-hhe-06 ul {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.banner-hhe-06 ul:after,
.banner-hhe-06 .ch-item:before {
    content: '';
    display: table;
}

.banner-hhe-06 ul:after {
    clear: both;
}

.banner-hhe-06 ul li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px;
}

.banner-hhe-06 .ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.4),
    inset 0 0 0 16px rgba(255, 255, 255, 0.6),
    0 1px 2px rgba(0, 0, 0, 0.1);

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.banner-hhe-06 .ch-info {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);

    -webkit-backface-visibility: hidden; /*for a smooth font */

}

.banner-hhe-06 .ch-info .title * {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    font-size: 16px;
    margin: 5px 30px;
    padding: 45px 0 0 0;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 0 0 1px #fff,
    0 1px 2px rgba(0, 0, 0, 0.3);
}

.banner-hhe-06 .ch-info .body {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.banner-hhe-06 .ch-info .link a {
    display: block;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.banner-hhe-06 .ch-info .link a:hover {
    color: #fff222;
}

.banner-hhe-06 .ch-item:hover {
    box-shadow: inset 0 0 0 110px rgba(0, 0, 0, 0.8),
    inset 0 0 0 16px rgba(255, 255, 255, 0.8),
    0 1px 2px rgba(0, 0, 0, 0.1);
}

.banner-hhe-06 .ch-item:hover .ch-info {
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
