.horizontal-parallax {
    bottom: 0px;
    box-sizing: border-box;
    display: block;
    left: 0px;
    max-width: 100%;
    position: relative;
    right: 0px;
    text-rendering: optimizeLegibility;
    top: 0px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 585px 197px;
    transform-origin: 585px 197px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal normal 16px / 25.6px "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(34, 34, 34) none 0px;
    overflow: hidden;
    padding: 0px 0px 44px;
}

.horizontal-parallax .widget-content {
    box-sizing: border-box;
    text-align: left;
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 585px 175px;
    transform-origin: 585px 175px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal normal 16px / 25.6px "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(34, 34, 34) none 0px;
}

.horizontal-parallax ul.container {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: auto;
    text-align: left;
    text-rendering: optimizeLegibility;
    width: 1190px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 595px 175px;
    transform-origin: 595px 175px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal normal 16px / 25.6px "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px -10px;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px;
}

.horizontal-parallax ul.container::after {
    box-sizing: border-box;
    clear: both;
    color: rgb(34, 34, 34);
    content: '"' '"';
    display: table;
    text-align: left;
    text-rendering: optimizeLegibility;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal normal 16px / 25.6px "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(34, 34, 34) none 0px;
}

.horizontal-parallax ul.container::before {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    content: '"' '"';
    display: table;
    text-align: left;
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal normal 16px / 25.6px "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(34, 34, 34) none 0px;
}

.horizontal-parallax li {
    bottom: 0px;
    box-sizing: border-box;
    clear: both;
    color: rgb(34, 34, 34);
    display: block;
    float: left;
    left: 0px;
    position: relative;
    right: 0px;
    text-rendering: optimizeLegibility;
    top: 0px;
    height: 350px;
    width: 100%;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 595px 175px;
    transform-origin: 595px 175px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal normal 16px / 25.6px "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(34, 34, 34) none 0px;
    padding: 0px 10px;
}

.horizontal-parallax li > a {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    text-align: left;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px / 25.6px Roboto, "Helvetica Neue", Helvetica, Roboto, "Droid Sans", Ubuntu, Cantarell, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
}

.horizontal-parallax figure {
    background-position: 50% 50%;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: auto;
    min-height: 100%;
    text-align: left;
    text-rendering: optimizeLegibility;
    vertical-align: top;
    width: 100%;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 585px 175px;
    transform-origin: 585px 175px;
    background: rgba(0, 0, 0, 0) url("https://53267_plomeria.ntsthemes.dev/web/assets/images/data/53267-plomeria/parallax-plomeria.jpg") no-repeat fixed 50% 50% / cover padding-box padding-box;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 16px / 25.6px Roboto, "Helvetica Neue", Helvetica, Roboto, "Droid Sans", Ubuntu, Cantarell, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}

.horizontal-parallax li header {
    bottom: 118px;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    height: 57px;
    left: 44px;
    max-width: 1200px;
    position: absolute;
    right: -44px;
    text-align: left;
    text-rendering: optimizeLegibility;
    top: 175px;
    width: 1190px;
    z-index: 100;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 595px 28.5px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -1, 0, -28.5, 0, 1);
    transform-origin: 595px 28.5px;
    border: 0px none rgb(34, 34, 34);
    font: normal normal normal normal 16px / 25.6px "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(34, 34, 34) none 0px;
}

.horizontal-parallax li header a {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    text-transform: capitalize;
    column-rule-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: italic normal normal normal 44px / 57.2px Roboto, "Helvetica Neue", Helvetica, Roboto, "Droid Sans", Ubuntu, Cantarell, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 23px;
    outline: rgb(255, 255, 255) none 0px;
}

.horizontal-parallax p {
    box-sizing: border-box;
    color: rgb(255, 76, 60);
    display: none;
    height: auto;
    text-align: left;
    text-rendering: optimizeLegibility;
    width: auto;
    column-rule-color: rgb(255, 76, 60);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(255, 76, 60);
    font: normal normal 300 normal 52.8px / 68.64px Roboto, "Roboto Slab", "Open Sans", Times, Helvetica, Roboto, Arial, "Droid Sans", Ubuntu, Cantarell, serif;
    list-style: none outside none;
    margin: 0px 0px 23px;
    outline: rgb(255, 76, 60) none 0px;
}/*#P_9*/

.horizontal-parallax li header div {
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: none;
    height: auto;
    min-width: 132px;
    text-align: left;
    text-rendering: optimizeLegibility;
    width: auto;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none rgb(34, 34, 34);
    font: normal normal 300 normal 16px / 25.6px "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(34, 34, 34) none 0px;
}

.horizontal-parallax li header div a {
    box-shadow: rgba(90, 100, 101, 0.2) 0px 2px 1px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    min-width: 134px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    text-transform: capitalize;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgb(255, 76, 60) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(189, 195, 199);
    font: normal normal 600 normal 23px / 36.8px Roboto, "Helvetica Neue", Helvetica, Roboto, "Droid Sans", Ubuntu, Cantarell, sans-serif;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    padding: 13.5px 44px;
    transition: all 0.35s ease-in-out 0s;
}

