.banner-hhe-08 ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin:0px;
    perspective: 800px;
    perspective-origin: 50% 100%;
}
.banner-hhe-08 li {
    position: relative;
    display: block;
    flex: none;
    margin: 1.5em 2vw;
    cursor: default;
    transform-style: preserve-3d;
}

.banner-hhe-08 li:hover,
.banner-hhe-08 li:focus {
    outline: none;
}

.banner-hhe-08 .stack {
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
}

.banner-hhe-08 .stack__deco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: currentColor;
    transform-origin: 50% 100%;
}

.banner-hhe-08 .title {
    font-size:26px;
    font-weight:bold;
    color:#4caf50;
}

.banner-hhe-08 .link a {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:100px;
}

.banner-hhe-08 li:hover .link a {
    background: #ff8800;
}

.banner-hhe-08 .stack__deco:first-child {
    opacity: 0.2;
}

.banner-hhe-08 .stack__deco:nth-child(2) {
    opacity: 0.4;
}

.banner-hhe-08 .stack__deco:nth-child(3) {
    opacity: 0.6;
}

.banner-hhe-08 .stack__deco:nth-child(4) {
    opacity: 0.8;
}

.banner-hhe-08 .stack__figure {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width:100%;
    margin:0px;
    height: 100%;
    cursor: pointer;
    transform-origin: 50% 100%;
}

.banner-hhe-08 .stack__img {
    position: relative;
    display: block;
    flex: none;
    width:100%;
    margin:0px;
}

.banner-hhe-08 li:hover .stack__img {
    box-shadow:#000 0px 0px 15px;
}

@media screen and (max-width:900px) {
    .banner-hhe-08 li {
        width:44%;
    }
}
@media screen and (max-width:550px) {
    .banner-hhe-08 li {
        width:100%;
        border-bottom:solid 1px #ccc;
        padding-top:10px;
        padding-bottom:10px;
    }
}