#pagePreview h1 {
    color:#000;
}
#pagePreview a {
    text-decoration:none;
}
#pagePreview img {
    border:none;
}
#pagePreview p {
    font:normal 11px Verdana;
    text-align:justify;
    line-height:14px;
    color:#666;
}
.list_view, .list_view p {
    text-align:left;
}
.list_view, .list_view a {
    text-decoration:none;
}
.list_view a:hover {
    text-decoration:underline;
}
.list_view article {
    margin:10px 0px;
    padding:10px;
    background:#f3f3f3;
    border-radius: 4px;
    float:left;
}
.list_view div:nth-child(1) {
    min-height:100px;
    height:auto;
}
.list_view h1 {
    margin:0px;
    font:bold 24px Arial;
    color:#DE7312;
}
.list_view h1:hover {
    color:#333;
}
.post-footer {
    margin-top:20px;
    border-top:solid 1px #e0e0e0;
}
.post-footer ul {
    margin: 0px;
    padding:0px;
    list-style:none;
}
.post-footer li {
    margin: 10px 5px 0px 5px;
    padding-left: 20px;
    width:70px;
    height:24px;
    display:block;
    font:normal 10px Verdana;
    text-decoration:none;
    text-align:left;
    color:#666;
    float:left;
}
.post-footer li:first-child {
    margin-right:100px;
}
.post-follow { background: url(../images/review_follow.png) transparent left top no-repeat; }
.post-likes { background:url(../images/like.png) transparent left top no-repeat; }
.post-dislikes { background: url(../images/dislike.png) transparent left top no-repeat; }
.post-visits { background: url(../images/visits.png) transparent left top no-repeat; }