/* Etalage container (large thumb + small thumbs): */
ul#qw_productImages{
    margin-bottom: 50px;
}

/* Large thumbnail: */
#qw_productImages li.etalage_thumb{
	background: white url(../images/loader.gif) center no-repeat;
	border: 1px solid #ddd;
	padding: 6px;
	-webkit-box-shadow: 0 0 10px #ddd;
	-moz-box-shadow: 0 0 10px #ddd;
	box-shadow: 0 0 10px #ddd;
}
/* Large thumbnail - image (in case you want to add a border around the image within the frame) */
#qw_productImages img.etalage_thumb_image{ }

/* Small thumbnails: */
#qw_productImages li.etalage_small_thumbs li{
	background: white;
	border: 1px solid #ddd;
	margin: 10px; /* The space between and above the small thumbs */
	padding: 3px;
}
/* The one on the left that makes them slide */
#qw_productImages ul li.etalage_smallthumb_first{ }
/* The one on the right that makes them slide */
#qw_productImages ul li.etalage_smallthumb_last{ }
/* The currently active one */
#qw_productImages ul li.etalage_smallthumb_active{
	-webkit-box-shadow: 0 0 10px #ddd;
	-moz-box-shadow: 0 0 10px #ddd;
	box-shadow: 0 0 10px #ddd;
}

/* Zoomed image area: */
#qw_productImages li.etalage_zoom_area{
	background: white url(../images/loader.gif) center no-repeat;
	border: 1px solid #ddd;
	margin: 10px; /* The space between the large thumbnail and the zoomed area */
	padding: 6px;
	-webkit-box-shadow: 0 0 10px #ddd;
	-moz-box-shadow: 0 0 10px #ddd;
	box-shadow: 0 0 10px #ddd;
}

/* Magnifier area (thumbnail hovering): */
#qw_productImages li.etalage_magnifier{
	background: white;
	border: 1px solid #bbb;
}

/* Optional icon that will apear at the left bottom of the large thumbnail: */
#qw_productImages li.etalage_icon{
	background: url(../images/zoom.gif) no-repeat;
	margin: 20px;
	width: 14px;
	height: 14px;
}

/* Optional hint that will apear at the top right of the large thumbnail: */
#qw_productImages li.etalage_hint{
	background: url(../images/hint.gif) no-repeat;
	margin: 15px; /* The offset to the right-top corner */
	width: 130px;
	height: 57px;
}

/* ------------------------------------ FUNCTIONALITY -------------------------------------- */
/* The following CSS serves to make Etalage function properly. Don't edit or edit carefully. */
/* ----------------------------------------------------------------------------------------- */

#qw_productImages, .etalage, .etalage_thumb, .etalage_thumb_image, .etalage_source_image, .etalage_zoom_preview, .etalage_icon, .etalage_hint{ display:none }
.etalage, .etalage ul, .etalage li, .etalage img, .etalage_hint{ margin:0; padding:0; border:0; list-style:none }
.etalage, .etalage_magnifier div, .etalage_magnifier div img, .etalage_small_thumbs ul, ul .etalage_small_thumbs li, .etalage_zoom_area div, .etalage_zoom_img{ position:relative }
.etalage img, .etalage li{ -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -o-user-select:none; user-select:none; -webkit-user-drag:none; -moz-user-drag:none; user-drag:none }
.etalage{ float:left }
.etalage li{ position:absolute }
.etalage img{ vertical-align:bottom }
.etalage_magnifier{ cursor:default }
.etalage_magnifier div{ overflow:hidden }
.etalage_magnifier div img{ display:none }
.etalage_icon, .etalage_hint{ cursor:default; width:0; height:0; overflow:hidden }
.etalage_small_thumbs{ overflow:hidden }
ul .etalage_small_thumbs li{ float:left }
.etalage_zoom_area div{ overflow:hidden; z-index:9997 }
ul .etalage_zoom_preview{ position:absolute; z-index:998 }
.etalage_zoom_img{ z-index:999 }
/* miniZoomPan styles */
.gzoomwrap {
  float:left;
  margin:0 10px 0 0;
}
.minizoompan {
  background: #fff;
  position: relative; /* always set to relative or offset() won't work */
  border: 1px solid lightgray;
  padding: 0;
  margin: 0;
}

.minizoompan span.loader { /* the loader label*/
  position:absolute;
  left:0;
  top:0;
  z-index: 1;
  display: none;
  color: #000;
  background: #fff;
  font: normal 9px Arial, Verdana;
  padding: 3px;
}
.minizoompan .zoomIcon { /* the zoom icon */
  position:absolute;
  cursor:pointer;
  left:0;
  top:0;
  z-index: 1;
  display: none;
}

.gzoombutton {
    padding:0px 5px;
    background:#1B7902;
    border-radius:2px;
    font:bold 12px arial;
    color:#fff;
    text-align:center;
    float:left;
    cursor:pointer;
}
.gzoomSlider {
  float:left;
  margin:3px 3px 0 7px;
}

#gzoomoverlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}
#gzoomlbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#gzoomlbox a img { 
  border: none; 
}
#imagebox {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#gzoom-cont-img { padding: 10px; }

#lboximgdatacontainer {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
	padding: 0 10px 10px 10px; 
	color:#666;
}
#gzoomloading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}

#lboximgdatacontainer #gzoomlbox-image-details { 
	width: 70%; 
	float: left; 
	text-align: left; 
}	
#gzoom-image-caption { font-weight: bold; }
.ui-slider-handle {
    background:#1B7902 !important;
    border:none !important;
}
/************** CARRUSEL ********************/
#images, #images div {
	text-align: left; 
}
.jcarousel-skin-tango .jcarousel-container {
    margin-top:15px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
	text-align: center;
	width: 200px;
    padding: 10px;
}
.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
	width: 190px;
    height: 90px;
}
.jcarousel-skin-tango .jcarousel-item {
    width: 55px;
    height: 95px;
	padding:2px;
}
.jcarousel-skin-tango .jcarousel-item img {
    border:solid 1px #000;
}	
.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 4px;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 4px;
    margin-right: 0;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
    color: #000;
}
/* jcarousel Horizontal Buttons */
.jcarousel-next-horizontal, .jcarousel-prev-horizontal {
    position: absolute;
    top: auto;
    margin-top:-75px;
    width: 32px;
    height: 42px;
    cursor: pointer;
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
    right: -25px;
    background: transparent url(../images/next-horizontal.png) no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(../images/prev-horizontal.png);
}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background-position: 1px top;
}
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
    left: -25px;
    background: transparent url(../images/prev-horizontal.png) no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(../images/next-horizontal.png);
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: -1px top;
}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}