@charset "UTF-8";

html,
body {
    position: relative;
    overflow-x: hidden;
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: auto;
    font-size:0.8rem;
}
body {
    background: linear-gradient(270deg, #bce654, #54e6c7, #54abe6, #5754e6, #ab54e6, #e654c7, #e65473, #e69654, #e3e654);
    background-size: 1800% 1800%;
    -webkit-animation: necoyoadBackground 31s ease infinite;
    -moz-animation: necoyoadBackground 31s ease infinite;
    animation: necoyoadBackground 31s ease infinite;
}
#mainContainer {
    min-height: 100%;
    overflow-x:hidden;
}
#contentContainer {
    width: 90%;
    margin: auto;
}

@-webkit-keyframes necoyoadBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes necoyoadBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes necoyoadBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.iframe-container {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}


::selection {
    background:#ff8100;
    color:#fff;
}
.clear,
.clearfix
{
    content:" ";
    display:block;
    width:100%;
    height:1px;
    float:none;
}
.clear:after,
.clear:before,
.clearfix:after,
.clearfix:before
{
    content:" ";
    display:block;
    width:1px;
    height:1px;
    float:none;
    clear:both;
}
img {
    max-width:100%;
}
figure {
    margin:10px auto;
}
ul {
    padding-left:0px;
    padding-right:0px;
}
ul, li {
    list-style:none;
}
ul.widgets {
    display: flex;
}
ul.widgets > li {
    margin:5px auto;
    float: left;
    width: 99%;
}
a, button, input {
    transition: .3s all ease;
}
.stickyWrapper {
  position: relative !important;
}
.sticky {
  position: fixed !important;
  top: 0 !important;
  transition: .3s all ease;
  z-index: 999999999 !important;
}
#copyright {
    text-align:center;
    width:100%;
    height:60px;
    display:block;
}
#toTop {
    background:#cb2128;
    width:50px;
    height:50px;
    display:block !important;
    border-radius:50px;
    position:fixed;
    bottom:10px;
    right:10px;
}
#toTop i {
    position:absolute;
    top:30%;
    left:40%;
    color:#fff;
}
#toTop path {
    fill:#fff !important;
}

#toTop:hover {
    background:#444;
    display:block !important;
    opacity:1 !important;
}
#toTop:hover path {
    fill:#cb2128 !important;
}

.breadcrumbs-container {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    padding: 1px !important;
    margin: -1.75rem 0 0.875rem 0;
}

.breadcrumbs {
    padding-left: 1rem;
    background: none;
    border-radius: 0;
}

.breadcrumbs > *:not(:first-child):before {
@inlcude absolute-center-v;
    content: "/";
    font-size: 1.125rem;
    color: #5a6465;
    font-weight: 300;
    transform: translate3d(0,
    -50%,
    0);
    margin: 0;
}

.breadcrumbs li:last-child a {
    color: #3498db;
}

.breadcrumbs li:not(:first-child) a {
    padding-left: 1.125rem;
}

.breadcrumbs li {
    padding: 0.875rem 0;
    position: relative;
    width: auto;
    display: inline-block;
    vertical-align: top;
}

.breadcrumbs a {
    padding-right: 0.875rem;
    color: #5a6465;
    font-family: "Raleway",
    "Roboto",
    serif;
    font-size: 0.875rem;
    text-transform: capitalize;
    font-weight: 400;
}

.breadcrumbs a:hover {
    text-decoration: none;
    color: #3498db;
}

.breadcrumbs a:before:hover a {
    text-decoration: none;
}




.group-btn {
    margin:10px auto;
}
.btn {
    background:#000;
    margin:10px;
    padding:5px 8px;
    border-radius:50px;
    cursor:pointer;
    width: auto;
    min-width: 50px;
}
.btn:hover {
    background:#CB2128;
}
.btn a {
    color:#fff;
    width:100%;
    display: inline-block;
    min-height: 20px;
    height: auto;
    text-align: center;
}
.btn:hover a {
    color:#000;
}
.btn-add {
    background:#CB2128;
}
.btn-add:hover {
    background:#900;
}



.pagination {
    width:100%;
    float:left;
    display:block;
}
.pagination .links, .pagination .results {
    margin:auto 20px;
    float:right;
    display:block;
}
.pagination .results {
    padding-top:10px;
}
.pagination .links a, .pagination .links b {
    text-align:center;
    padding-top:10px;
    width:50px;
    height:30px;
    background:#ccc;
    display:inline-block;
}
.pagination .links b {
    background:transparent;
}
.pagination .links a {
    background:#eee;
    font-weight:bold;
}



li.catalog-item a.name {
    text-decoration: none;
    text-transform:uppercase;
    color:#333;
}
li.catalog-item .model {
    color:#666;
    font:normal 0.765rem arial, sans-serif;
    text-transform:uppercase;
}

li.catalog-item .price {
    color:#000;
    font-size:1.62rem;
}
.nuevo {
    position:absolute;
    right:10px;
    background:#4facea;
    width:100px;
    height:30px;
    border-radius:20px;
    z-index:99;
}
.nuevo:before {
    margin-top:3px;
    content:"Nuevo";
    display:inline-block;
    color:#fff;
}

.dd {
    position:relative;
}
.dd * {
    transition:all 0.3s ease-in;
}
.dd-trigger {
    float:left;
    margin:5px;
    position:relative;
    z-index:10;
}
.dd-content {
    background:#fcfcfc;
    padding:10px;
    border-radius:3px;
    position:absolute;
    display:none;
    box-shadow:#ccc 0px 0px 13px;
    min-width:120px;
    width:auto;
    top:22px;
    right:0px;
    z-index:100;
}
.dd:hover .dd-content {
    display:block;
}
.dd input {
    background:#eee;
    border:none;
    margin:5px;
    padding:10px;
    border:none;
}
.dd li {
    list-style:none;
}
.dd a:not('.btn') {
    line-height:2rem;
    border-bottom:solid 1px #fff;
}
.dd a {
    text-align:center;
}
.dd a:hover {
    color:#000;
    border-bottom-color:#000;
}

label,
input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
    height: auto;
    display: inline-block;
    vertical-align: top;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
    width: 97%;
    height: 2.75rem;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-property: box-shadow, border, background-color;
    padding: 0 1%;
    margin:5px;
    color: #000;
    font-size: 0.875rem;
    font-family: "Raleway", "Roboto", serif;
    border: 1px solid #ccc;
    position: relative;
    vertical-align: top;
}

input:focus,
textarea:focus {
    border: 1px solid #75b9e7 !important;
    background: #fafafa !important;
}

textarea {
    padding-top: 0.75rem;
    height: 8.25rem;
    width: 100%;
}

fieldset {
    padding: 1rem;
    display: block;
    border: none;
}

input[type=checkbox],
input[type=radio] {
    width: 10px;
    height: 10px;
}
input:hover {
    background: #eee;
}

#footer * {
    text-align:center;
}


/** for debug **/
.xdebug-var-dump {
    width:100%;
    background:#fff;
    color:#333;
    padding:2% 10px;
}

.xdebug-var-dump * {
    font-size:11px;
    font-weight:bold;
}




select.nts-dropdown { display: none; }
.dropdown-select {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40FFFFFF', endColorstr='#00FFFFFF', GradientType=0);
    background-color: #fff;
    border-radius: 6px;
    border: solid 1px #eee;
    box-shadow: 0px 2px 5px 0px rgba(155, 155, 155, 0.5);
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;

}

.dropdown-select:focus {
    background-color: #fff;
}

.dropdown-select:hover {
    background-color: #fff;
}

.dropdown-select:active,
.dropdown-select.open {
    background-color: #fff !important;
    border-color: #bbb;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
}

.dropdown-select:after {
    height: 0;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #777;
    -webkit-transform: origin(50% 20%);
    transform: origin(50% 20%);
    transition: all 0.125s ease-in-out;
    content: '';
    display: block;
    margin-top: -2px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%;
}

.dropdown-select.open:after {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.dropdown-select.open .list {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.dropdown-select.open .option {
    cursor: pointer;
}

.dropdown-select.wide {
    width: 100%;
}

.dropdown-select.wide .list {
    left: 0 !important;
    right: 0 !important;
}

.dropdown-select .list {
    box-sizing: border-box;
    transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
    background-color: #fff;
    border-radius: 6px;
    margin-top: 4px;
    padding: 3px 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    max-height: 250px;
    overflow: auto;
    border: 1px solid #ddd;
}

.dropdown-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}
.dropdown-select .dd-search{
  overflow:hidden;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:0.5rem;
}

.dropdown-select .dd-searchbox{
  width:90%;
  padding:0.5rem;
  border:1px solid #999;
  border-color:#999;
  border-radius:4px;
  outline:none;
}
.dropdown-select .dd-searchbox:focus{
  border-color:#12CBC4;
}

.dropdown-select .list ul {
    padding: 0;
}

.dropdown-select .option {
    cursor: default;
    font-weight: 400;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;
    list-style: none;
}

.dropdown-select .option:hover,
.dropdown-select .option:focus {
    background-color: #f6f6f6 !important;
}

.dropdown-select .option.selected {
    font-weight: 600;
    color: #12cbc4;
}

.dropdown-select .option.selected:focus {
    background: #f6f6f6;
}

.dropdown-select a {
    color: #aaa;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.dropdown-select a:hover {
    color: #666;
}
