/vendor
/node_modules
/.env
/.env.backup
/.phpunit.result.cache
/storage/app/*
!storage/app/.gitkeep
/storage/framework/cache/*
!storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
/storage/framework/views/*
!storage/framework/views/.gitkeep
/storage/logs/*
!storage/logs/.gitkeep
/public/storage
/public/hot
/public/build
*.log
.DS_Store
.idea
.vscode
