.banner-hhe-11 li {
    position: relative;
    height: auto;
    border: 5px solid #fff;
    box-shadow: 0 0 18px #bbb;
    float:left;
    margin:1%;
  overflow: hidden;
}
.banner-hhe-11 .details {
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #111111;
    height: 0;
    visibility: hidden;
    width: 100%;
    -webkit-transform: rotate(-33.5deg) translate(-112px, 166px);
    -moz-transform: rotate(-33.5deg) translate(-112px, 166px);
    -ms-transform: rotate(-33.5deg) translate(-112px, 166px);
    -o-transform: rotate(-33.5deg) translate(-112px, 166px);
    transform: rotate(-33.5deg) translate(-112px, 166px);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: all 0.135s ease-in-out 0.135s;
    -moz-transition: all 0.135s ease-in-out 0.135s;
    transition: all 0.135s ease-in-out 0.135s;
}

.banner-hhe-11 .thumb {
    width:100%;
    margin:0;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.banner-hhe-11 img {
    width:100%;
    margin:0;
}
.banner-hhe-11 .thumb_mask_01,
.banner-hhe-11 .thumb_mask_02 {
    position: absolute;
    background: #333333;
    background: rgba(0, 0, 0, 0.6);
    height:140%;
    width: 250%;
    opacity:0;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.banner-hhe-11 .thumb_mask_01 {
    left: auto;
    right: 0px;
    top: 0;
    -webkit-transform: rotate(56.5deg) translateX(-180px);
    -moz-transform: rotate(56.5deg) translateX(-180px);
    -ms-transform: rotate(56.5deg) translateX(-180px);
    -o-transform: rotate(56.5deg) translateX(-180px);
    transform: rotate(56.5deg) translateX(-280px);
    -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    -o-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}
.banner-hhe-11 .thumb_mask_02 {
    top: auto;
    bottom: 0;
    left: 0px;
    -webkit-transform: rotate(56.5deg) translateX(180px);
    -moz-transform: rotate(56.5deg) translateX(180px);
    -ms-transform: rotate(56.5deg) translateX(180px);
    -o-transform: rotate(56.5deg) translateX(180px);
    transform: rotate(56.5deg) translateX(180px);
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}
.banner-hhe-11 .title {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display:none;
    -webkit-transition: all 0.135s ease-in-out 0.135s;
    -moz-transition: all 0.135s ease-in-out 0.135s;
    transition: all 0.135s ease-in-out 0.135s;
}
.banner-hhe-11 .body {
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #bbb;
    padding: 0px 20px 20px;
    text-align: center;
    display: none;
    -webkit-transition: all 0.135s ease-in-out 0.135s;
    -moz-transition: all 0.135s ease-in-out 0.135s;
    transition: all 0.135s ease-in-out 0.135s;
}
.banner-hhe-11 li:hover .thumb_mask_01 {
    opacity:1;
    -webkit-transform: rotate(56.5deg) translateX(200px);
    -moz-transform: rotate(56.5deg) translateX(200px);
    -ms-transform: rotate(56.5deg) translateX(200px);
    -o-transform: rotate(56.5deg) translateX(200px);
    transform: rotate(56.5deg) translateX(200px);
}
.banner-hhe-11 li:hover .thumb_mask_02 {
    opacity:1;
    -webkit-transform: rotate(56.5deg) translateX(-200px);
    -moz-transform: rotate(56.5deg) translateX(-200px);
    -ms-transform: rotate(56.5deg) translateX(-200px);
    -o-transform: rotate(56.5deg) translateX(-200px);
    transform: rotate(56.5deg) translateX(-200px);
}
.banner-hhe-11 li:hover .details {
    width: 100%;
    min-height: 100px;
    height: auto;
    max-height: 70%;
    visibility: visible;
    -webkit-transform: rotate(0deg) translate(0, 0);
    -moz-transform: rotate(0deg) translate(0, 0);
    -ms-transform: rotate(0deg) translate(0, 0);
    -o-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0);
}
.banner-hhe-11 li:hover .details * {
    display:block;
}

.banner-hhe-11 .link a {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:100px;
    margin:auto;
    margin-top: -4%;
    position:relative;
    z-index:99;
}

.banner-hhe-11 .link a:hover {
    background: #ff8800;
}

@media screen and (min-width: 1224px) {
    .banner-hhe-11 .link a {
        margin-top: -2%;
    }
}

@media screen and (max-width: 1000px) {
    .banner-hhe-11 li {
        display: inline-block;
        margin: 10px 1px;
        width: 48%;
    }
    .banner-hhe-11 .link a {
        margin-top: -15%;
    }
}

@media screen and (max-width: 728px) {
    .banner-hhe-11 li {
        display: inline-block;
        margin: 10px 1px;
        width: 100%;
    }
    .banner-hhe-11 .link a {
        margin-top: 1%;
    }
}

@media screen and (max-width: 500px) {
    .banner-hhe-11 .link a {
        margin-top: -8%;
    }
}

@media screen and (max-width: 430px) {
    .banner-hhe-11 .title {
        font-size: 12px;
    }
    .banner-hhe-11 .body {
        display:none !important;
    }
    .banner-hhe-11 .link a {
        margin-top: 5%;
    }
}